node_modules/
.expo/
.vscode/
*.log
.DS_Store
.env
npm-debug.log
yarn-debug.log
yarn-error.log
.idea/
android/app/build/
web-build/
coverage/
*.apk
*.keystore
*.iml
*.lock

# Expo specific
.expo-shared/
